/target/
/src/target/
/src/.target/
/src2/target/
/src2/.target/
/.credential/*
!/.credential/README.txt
!/.credential/MODEL_DEEPSEEK_API_KEY.txt
!/.credential/SERVER_IP.txt
!/.credential/SERVER_PORT_CLIENT.txt
!/.credential/SERVER_PORT_HOST.txt
!/.credential/SERVER_PORT_TELEMETRY.txt
!/.credential/SERVER_ROOT_SSH_KEY.txt

/.deploy/

/.temp/

**/target/
**/.target/
